fastapi
uvicorn
python-multipart
transformers
torch
spacy
sentence-transformers
keybert
bertopic
scikit-learn
umap-learn
hdbscan
pdfminer.six
pdfplumber
python-docx
pytesseract
Pillow
langdetect
numpy
streamlit
requests
